* {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.remove-bullets {
  list-style: none;
}

.no-underline {
  text-decoration: none;
}

.title-color-light {
  color: #f9faf8;
}

.title-color-dark {
  color: #1f2937;
}

.text-color-light {
  color: #e5e7eb;
}

.text-color-dark {
  color: #1f2937;
}

.font-m {
  font-size: 18px;
}

.font-g {
  font-size: 24px;
}

.font-gg {
  font-size: 36px;
}

.font-xg {
  font-size: 48px;
}

.text-bold {
  font-weight: 800;
}

.text-thin {
  font-weight: 200;
}

.text-oblique {
  font-style: italic;
}

.bg-gray {
  background-color: #e5e7eb;
}

.bg-dark-gray {
  background-color: #767676;
}

.bg-light-blue {
  background-color: #3882f6;
}

.bg-dark-blue {
  background-color: #1f2937;
}

.border-color-light {
  border: 2px #e5e7eb solid;
}

.half-margin-block {
  margin-block: 2vh;
}

.content-margin-block {
  margin-block: 2vh;
} 

.container-padding-inline {
  padding-inline: 10vw;
}

.container-padding-block {
  padding: 2rem;
}

.container {
  margin-bottom: 4vh;
  padding-block: 7vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 1vw;
}

.hero {
  display: flex;
  gap: 5vw;
}

.hero-img {
  min-width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.hero-text-content > button {
  border: none;
}

.container-image-text {
  text-align: center;
}

.images-text {
  display: flex;
  gap: 2rem;
}

.image-text > img {
  box-sizing: border-box;
  border: 2px violet solid;
  border-radius: 20px;
  width: 15rem;
  height: 15rem;
}

.quote-author {
  text-align: right;
}

.call-for-action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}

*[name="signup-button"] {
  box-sizing: border-box;
  width: 7rem;
  height: 2rem;
  border-radius: 20px;
}

.footer {
  text-align: center;
}
