.remove-bullets {
  list-style: none;
}

.no-underline {
  text-decoration: none;
}

.no-margin {
 margin: 0;
}

.title-color-light {
  color: #f9faf8;
}

.title-color-dark {
  color: #1f2937;
}

.text-color-light {
  color: #e5e7eb;
}

.text-color-dark {
  color: #1f2937;
}

.font-m {
  font-size: 18px;
}

.font-g {
  font-size: 24px;
}

.font-gg {
  font-size: 36px;
}

.font-xg {
  font-size: 48px;
}

.text-bold {
  font-weight: 800;
}

.text-thin {
  font-weight: 200;
}

.text-oblique {
  font-style: italic;
}

.bg-gray {
  background-color: #e5e7eb;
}

.bg-dark-gray {
  background-color: #767676;
}

.bg-light-blue {
  background-color: #3882f6;
}

.bg-dark-blue {
  background-color: #1f2937;
}

.half-margin-block {
  margin-block: 2vh;
}

.content-margin-block {
  margin-block: 2vh;
} 

.container-padding-inline {
  padding-inline: 10vw;
}
